.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 400px;
  height: 600px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.put {
  width: 400px;
  height: 100px;
}
.number {
  display: flex;
}

.number div {
  border: #fff 1px solid;
  width: 100px;
  height: 100px;
}
.numberT {
  display: flex;
  width: 400px;
  height: 200px;
}
.number1 {
  display: flex;
  width: 300px;
  height: 100px;
}
.number1 div {
  border: #fff 1px solid;
  width: 100px;
  height: 100px;
}

.number0 {
  display: flex;
  width: 300px;
  height: 100px;
}

.number0 div {
  border: #fff 1px solid;
  width: 100px;
  height: 100px;
}
.number0 .ling {
  width: 200px;
}
.de {
  width: 100px;
  height: 200px;
  border: #fff 1px solid;
}